<% if log_emp[0].present? %>
  <div class="pull-left"><%= image_tag("efforts.jpg", size: "100x70" ) %></div>
  <div class="col-sm-2 pull-right text-right">
    login : <%= log_emp[0].login %> | <%= link_to "logout", :controller => "home", :action => "logout" %>
  </div>
  <div class="well sell-sm">
    <div class="col-sm-2"><%= link_to "All Employees", :controller => "employees", :action => "index" %></div>
    <div class="col-sm-2"><%= link_to "Add New Employee", :controller => "employees", :action => "new" %></div>
		<% if log_emp[0].emp_type == "manager" || log_emp[0].emp_type == "admin" %>
      <div class="col-sm-2"><%= link_to "All Goals", :controller => "goals", :action => "index" %></div>
		<% end %>
    <div class="col-sm-2"><%= link_to "Add New Goal", :controller => "goals", :action => "new" %></div>
    <div class="col-sm-2"><%= link_to "My Goals", :controller => "goals", :action => "my_goals" %></div>
  </div>
<% end %>
