<div class="well well-sm">
  <span class="lead"><center>All Goals<center><span>
</div>

<div class="well well-sm">
  <table class="table table-striped">
	  <thead>
		  <tr>
			  <th>Name            </th>
			  <th>Description     </th>
			  <th>Given By        </th>
			  <th>Created at      </th>
			  <th>Excepted Date   </th>
			  <th>Actual Date     </th>
			  <th>Given to        </th>
				<th>Comments        </th>
		  </tr>
	  </thead>
		<tbody>
		  <% @goals.each do |f| %>
		    <tr>
			    <th><%= f.name          %></th>
			    <th><%= f.description   %></th>
			    <th><%= f.given_by      %></th>
			    <th><%= f.created_at    %></th>
			    <th><%= f.e_date        %></th>
			    <th><%= f.a_date        %></th>
			    <th><%= f.emp_id        %></th>
			    <th><%= f.comments      %></th>
		    </tr>
			<% end%>
		</tbody>
	</table>
</div>
