<div class="well well-sm">
  <span class="lead"><center>All Goals<center><span>
</div>

<div class="well well-sm">
  <table class="table table-striped">
	  <thead>
		  <tr>
			  <th>Name            </th>
			  <th>Description     </th>
			  <th>Given By        </th>
			  <th>Created at      </th>
			  <th>Excepted Date   </th>
			  <th>Actual Date     </th>
 				<th>Comments        </th>
 				<th>Action          </th>
		  </tr>
	  </thead>
		<tbody>
		  <% @goals.each do |f| %>
		    <tr>
			     <td><%= link_to f.name, :controller => "goals", :action => "show", :id => f.id %></th>
			     <td><%= f.description   %></td>
			     <td><%= f.owner.name    %></td>
			     <td><%= f.created_at    %></td>
			     <td><%= f.e_date        %></td>
			     <td><%= f.a_date        %></td>
			     <td><%= f.comments      %></td>
			     <td id="<%= "change_" +f.id.to_s %>"><%= link_to "Action", :controller => "goals", :action => "goal_actions", :id => f.id, remote: true   %></td>
		    </tr>
			<% end%>
		</tbody>
	</table>
</div>
